@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --orange: #f7d486;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f7d386fe; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f7d386fe; 
}

.main-scroll::-webkit-scrollbar{
  display:none;
}
.shadow-glow {
  box-shadow: 0 0 15px rgba(255, 255, 0, 0.6); 
  transform:rotate(45deg)
}
.shadow-glow img{
  transform:rotate(-45deg)
}


.card{
	background-color:#f7d386fe;
  /* clip-path: polygon(0% %, 0% 0%, 85% 0%, 100% 100%); */
  
  max-height: 5rem;
  max-width:30rem;
  overflow: visible;
  border-radius: 0.5rem;
  transition-timing-function: ease;
  transition: 0.2s;
}

.card:hover{
	transform: scale(1.05);
  background-color: #f7d386fe;
  
}

#pokemon-list{
	max-height:90%;
  /* padding-left:3rem; */
}

